<div class="d-flex justify-content-center my-5">
  <mat-card>
    <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
       <mat-card-content>
        <mat-form-field appearance="outline" class="my-1">
          <mat-label>{{'register.associationName' | translate}}</mat-label>
          <input matInput id="name" formControlName="name" required>
          <mat-icon matSuffix>account_balance</mat-icon>
        </mat-form-field>
         <br/>
         <mat-form-field appearance="outline" class="my-1">
           <mat-label>{{'register.phone' | translate}}</mat-label>
           <input matInput placeholder="0160224696" id="phoneNumber" formControlName="phoneNumber" required>
           <mat-icon matSuffix>phone</mat-icon>
         </mat-form-field>
        <br/>
        <mat-form-field appearance="outline" class="my-1">
          <mat-label>{{'register.email' | translate}}</mat-label>
          <input matInput id="email" formControlName="email" required>
          <mat-icon matSuffix>mail_outline</mat-icon>
        </mat-form-field>
        <br/>
        <mat-form-field appearance="outline" class="my-1">
          <mat-label>{{'register.password' | translate}}</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" id="password" formControlName="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon class="visibility">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <br/>
        <mat-checkbox color="primary" [checked]="check">
          j'ai lu et j'accepte la <a href="https://www.gdprprivacynotice.com/" target="_blank">politique de confidentialité</a>
        </mat-checkbox>
      </mat-card-content>

      <mat-card-actions>
        <button mat-flat-button color="primary" type="submit" [disabled]="accountForm.invalid">{{'register.title' | translate}}</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
