<h1 class="my-5 d-flex justify-content-center">{{'profile.title' | translate}}</h1>

<div class="d-flex justify-content-center">
  <mat-card class="mx-1 my-1">
    <mat-card-header>
      <mat-card-subtitle>{{'profile.info' | translate}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{'profile.infoDescription' | translate}}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="mx-1 my-1">
    <mat-card-header>
      <mat-card-subtitle>{{'profile.security' | translate}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{'profile.securityDescription' | translate}}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="mx-1 my-1">
    <mat-card-header>
      <mat-card-subtitle>{{'profile.donation' | translate}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{'profile.donationDescription' | translate}}</p>
    </mat-card-content>
  </mat-card>
</div>

<p class="mt-5 d-flex justify-content-center">
  Besoin de désactiver votre compte ? <br/>
  <a href="#">M'en occuper maintenant</a>
</p>


